/* Variables personalisadas. */
:root {
    --green-base: #00c040;
    --white-base: #ffffff;
    --black-base: #000000;
    --white-base-alfa-75: rgba(255, 255, 255, 0.75);
    --black-base-alfa-25: rgba(0, 0, 0, 0.25);
}

/* Estilos para el menù de ofertas emergente. */
.off-menu {
    background-color: var(--green-base) !important;
    font-size: 14px !important;
}

/* Reglas para aplicar fondo dinamico al encabezado principal. */
.carousel-container {
    background-image: url("/public/img/header/header-1.jpg");
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    height: 500px !important;
}

/* Reglas para aplicar efecto defuminado blanco. */
.backdrop-filter {
    background-color: var(--white-base-alfa-75) !important;
    backdrop-filter: blur(25px) !important;
}

/* Regla para fondos negros con transparencia. */
.backdrop-filter-dark {
    background-color: var(--black-base-alfa-25) !important;
}

/* Fondo verde base */
.bg-green-base {
    background-color: var(--green-base) !important;
}

/* Reglas para texto de color verde base. */
.text-green-base {
    color: var(--green-base) !important;
}

/* Reglas para ajustar la imagenes de los elementos del encabezado. */
.header-item {
    background-image: url("/public/img/header/header-1.jpg");
    background-size: cover !important;
}

/* Sobreescritura de los estilos bootstrap para el botón de anterior en carousel. */
.carousel-control-prev {
    width: 50px !important;
}

/* Sobreescritura de los estilos bootstrap para el botón de siguiente en carousel. */
.carousel-control-next {
    width: 50px !important;
}

/* Regla para titulos por arriba de las imagenes de encabezado de los productos. */
.title-item {
    font-size: 40px !important;
}

/* Reglas para el botón de compara en el encabezado. */
.button-buy-item {
    border: solid 1px var(--white-base) !important;
    color: var(--white-base) !important;
}

/* Efecto hover del botón que se encuentra en el encabezado de los productos. */
.button-buy-item:hover {
    border: solid 1px var(--white-base) !important;
    background-color: var(--white-base);
    color: var(--black-base) !important;
}

/* Reglas para precio flotante en encabezado de cada articulo. */
.badge-custom-price {
    width: 80px;
    height: 80px;
    background-color: var(--green-base);
}

/* Relleno para en encabezado principal. */
.padding-header {
    padding-left: 200px;
    padding-right: 200px;
}

/* Reglas para el relleno de cada articulo del encabezado. */
.container-items-header {
    width: fit-content;
    padding-top: 100px;
}

/* Adapta el texto en diferentes tamaños de pantalla. */
.text-responsive {
    font-size: 16px !important;
}

/* Regla para definir el alto del contenedor del carrusel de productos más vendidos. */
.carousel-container-the-most-trendy {
    height: 400px !important;
}

/* Tamaño de fuente para el precio de cada tarjeta de lo más vendido. */
.card-price {
    font-size: 16px !important;
}

/* Tamaño de estrellas del producto. */
.stars {
    font-size: 16px !important;
}

/* Tamaño fijo de altura del contenedor de imagen de los productos más vendidos. */
.card-header-img {
    height: 280px !important;
}

/* Divisor vertical para precio y número de estrellas. */
.card-horizontal-divider::before {
    content: "" !important;
    border-right: solid 1px var(--black-base);
}

/* Estilo para el contenedor de ofertas. */
.off-container {
    height: 350px !important;
}

/* Tamaño de fuente personalizada para los títulos de ofertas. */
.off-title {
    font-size: 80px !important;
}

/* Tamaño de fuente personalizadas para subtítulos de ofertas. */
.off-subtitle {
    font-size: 30px !important;
    margin-top:  -20px !important;
}

/* Tìtulo personalizado para recomendado. */
.off-recomended-title {
    font-size: 40px !important;
    line-height: 50px !important;
}

/* Estilos para circulo de precios. */
.off-recomended-circle-price {
    width: 80px !important;
    height: 80px !important;
}

/* Las clase y elementos con la pseudo clase enfoque son para quitar borde y sombreado. */
.btn:focus {
    border: none !important;
    box-shadow: none !important;
}

button:focus {
    box-shadow: none !important;
}

input:focus {
    box-shadow: none !important;
    border: solid 1px var(--green-base) !important;
}

/* Media query para dispositivos muy pequeños (Móviles). */
@media (min-width: 0px) {

    .off-menu {
        font-size: 10px !important;
    }

    .text-responsive {
        font-size: 6px !important;
    }

    .padding-header {
        padding-left: 50px;
        padding-right: 50px;
    }

    .card-the-most-trendy {
        width: 50px !important;
    }

    .card-price {
        font-size: 10px !important;
    }
    
    .stars {
        font-size: 10px !important;
    }

    body {
        /* background-color: red; */
    }
}

/* Media query para dispositivos medianamente pequeños (Móviles y Tabletas). */
@media (min-width: 576px) {

    .off-menu {
        font-size: 12px !important;
    }

    .text-responsive {
        font-size: 10px !important;
    }

    .padding-header {
        padding-left: 100px;
        padding-right: 100px;
    }

    .card-price {
        font-size: 10px !important;
    }
    
    .stars {
        font-size: 10px !important;
    }

    body {
        /* background-color: blue; */
    }
}

/* Media query para dispositivos medianos (Móviles y Tabletas). */
@media (min-width: 768px) {
    .off-menu {
        font-size: 14px !important;
    }

    .text-responsive {
        font-size: 12px !important;
    }

    .padding-header {
        padding-left: 120px;
        padding-right: 120px;
    }
    .card-price {
        font-size: 12px !important;
    }
    
    .stars {
        font-size: 12px !important;
    }

    body {
        /* background-color: yellow; */
    }
}

/* Media query para dispositivos medianamente grandes (Móviles, Tabletas y Laptops). */
@media (min-width: 992px) {
    .off-menu {
        font-size: 14px !important;
    }

    .text-responsive {
        font-size: 12px !important;
    }

    .padding-header {
        padding-left: 150px;
        padding-right: 150px;
    }

    .card-price {
        font-size: 14px !important;
    }
    
    .stars {
        font-size: 14px !important;
    }

    body {
        /* background-color: green; */
    }
}

/* Media query para dispositivos grandes (PC's y Laptops). */
@media (min-width: 1200px) {
    .off-menu {
        font-size: 14px !important;
    }

    .text-responsive {
        font-size: 14px !important;
    }

    .padding-header {
        padding-left: 170px;
        padding-right: 170px;
    }

    .card-price {
        font-size: 16px !important;
    }
    
    .stars {
        font-size: 16px !important;
    }

    body {
        /* background-color: blue; */
    }
}

/* Media query para dispositivos muy grandes. */
@media (min-width: 1400px) {

    .off-menu {
        font-size: 14px !important;
    }

    .text-responsive {
        font-size: 16px !important;
    }

    .padding-header {
        padding-left: 200px;
        padding-right: 200px;
    }

    .card-price {
        font-size: 16px !important;
    }
    
    .stars {
        font-size: 16px !important;
    }

    body {
        /* background-color: black; */
    }
}